element.style {
}
.c-bXbWpx-icKmDif-css {
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 4;
    background-color: var(--colors-neutralLight0);
}
.c-bXbWpx-bZJlhX-direction-column {
    flex-direction: column;
}
.c-bXbWpx {
    display: flex;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font: var(--inter);
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    line-height: 1;
}
:root, .t-fGwpia {
    --colors-primaryA100: #D7FAF8;
    --colors-primaryA200: #5EEBE4;
    --colors-primaryA400: #15ACA5;
    --colors-primaryA600: #10847E;
    --colors-primaryA800: #0E746E;
    --colors-primaryA1000: #0A534F;
    --colors-primaryB: #F4C324;
    --colors-feedbackSuccess100: #F2FFF8;
    --colors-feedbackSuccess200: #BFEDDD;
    --colors-feedbackSuccess400: #81DCBA;
    --colors-feedbackSuccess600: #62BF9F;
    --colors-feedbackSuccess800: #45A081;
    --colors-feedbackSuccess1000: #38544A;
    --colors-feedbackError100: #FFF5F5;
    --colors-feedbackError200: #FCC0C2;
    --colors-feedbackError400: #FE9395;
    --colors-feedbackError600: #F47779;
    --colors-feedbackError800: #CC4C4E;
    --colors-feedbackError1000: #583536;
    --colors-feedbackWarning100: #FFF2E8;
    --colors-feedbackWarning200: #FFC9A0;
    --colors-feedbackWarning400: #FFAE71;
    --colors-feedbackWarning600: #FF9341;
    --colors-feedbackWarning800: #CF7530;
    --colors-feedbackWarning1000: #38544A;
    --colors-feedbackAssist600: #3E415B;
    --colors-neutralDark100: #D7DFE5;
    --colors-neutralDark200: #8897A2;
    --colors-neutralDark400: #6E787E;
    --colors-neutralDark600: #4F585E;
    --colors-neutralDark800: #30363C;
    --colors-neutralLight0: #FFFFFF;
    --colors-neutralLight10: #EEF4FF;
    --colors-neutralLight20: #EDF2F9;
    --colors-neutralLight40: #E6EBF4;
    --colors-neutralLight60: #DCE4F1;
    --colors-neutralLight70: #D4DBE7;
    --colors-neutralLight80: #B4C0D3;
    --colors-diagnosticPrimary100: #EBF2FF;
    --colors-diagnosticPrimary200: #B5CDF7;
    --colors-diagnosticPrimary400: #7EA7F2;
    --colors-diagnosticPrimary600: #3B7AEF;
    --colors-diagnosticPrimary800: #3661B0;
    --colors-diagnosticPrimary1000: #2F446B;
    --colors-diagnosticIllustration100: #CEF8FF;
    --colors-diagnosticIllustration200: #A6EFFC;
    --colors-diagnosticIllustration400: #70DFF3;
    --colors-diagnosticIllustration600: #3DCDE6;
    --colors-diagnosticIllustration800: #1FA4BB;
    --colors-diagnosticIllustration1000: #187484;
Show All Properties (183 more)
}
injected stylesheet
:host, :root {
    --rem: 16;
}